<!-- <div class="row">
    <div class="col-md-8">
  
  
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
            <label for="imageUrl">Landing Image</label><br />
            <input type="file" (change)="onFileSelectedOne($event)" accept=".png,.jpg" /> -->
            <!-- <div *ngIf="fb" class="list">
              <input type="text" [(ngModel)]="fb" class="form-control" name="image" #image="ngModel">
          </div> -->
          <!-- </div>
  
        <button class="btn btn-primary">Save</button>
      </form>
    </div>
  
  </div> -->
<div class="container" style="margin: 16rem 0">
    <div class="d-flex justify-content-around">
        <img src="../../assets/images/under_dev.png" alt="">
    </div>

    <h3 class="text-center text-danger mt-5">oohoo we are under development We will Come Soon to Surve You Better Services...</h3>
</div>