.topbar {
  color: #ffffff;
  /* background: rgba(0, 0, 0, 0); */
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 22, 47, .81);
  height: 75px;
}
.nav-item{
  padding: 10px;
  cursor: pointer;
}
.nav-link{
  color: #ffffff;
}
.navbar-brand {
  padding: 10px;
  cursor: pointer;
  width: 40%;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  background: none !important;
  align-items: center;
}

.toggle {
  width: 50%;
}

.menu-link.controllable.oldColor {
  /* font-size: 18px; */
  color:blue;
  background: unset;
/* transition: background 1s; */
}

.menu-link.controllable.newColor {
  /* font-size: 14px; */
background: black;
/* transition: background 1s; */
}

@media (max-width: 767px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  background: black !important;
  align-items: center;
}

.navbar-brand {
  padding: 0;
  cursor: pointer;
  width: 53%;
  margin:0;
}

.toggle{
  width: 70%;
}
}