<bs-navbar></bs-navbar>
<div class="">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<!-- 

<h2>Menu</h2>
<div (click)="scrollTo('section1')">Section 1
  <ng-container *ngIf="currentSection==='section1'">O</ng-container>
</div>
<div (click)="scrollTo('section2')">Section 2
  <ng-container *ngIf="currentSection==='section2'">O</ng-container>
</div>
<div (click)="scrollTo('section3')">Section 3
  <ng-container *ngIf="currentSection==='section3'">O</ng-container>
</div>
<div (click)="scrollTo('section4')">Section 4
  <ng-container *ngIf="currentSection==='section4'">O</ng-container>
</div>
<br />


<div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)"
  style="height:150px;overflow-y: scroll;">
  <div id="section1">
    <h2 style="margin:0">Section 1</h2>
    ng add will use your package manager to download dependencies for ngx-bootstrap and invoke an installation script
    ng add will use your package manager to download dependencies for ngx-bootstrap and invoke an installation script
    ng add will use your package manager to download dependencies for ngx-bootstrap and invoke an installation script
    ng add will use your package manager to download dependencies for ngx-bootstrap and invoke an installation script
    ng add will use your package manager to download dependencies for ngx-bootstrap and invoke an installation script
    ng add will use your package manager to download dependencies for ngx-bootstrap and invoke an installation script
    (implemented as a schematic) which will update your project and add additional dependencies (e.g. styles)
  </div>
  <div id="section2">
    <h1>Section 2</h1>
ng add will use your package manager to download dependencies for ngx-bootstrap and invoke an installation script
(implemented as a schematic) which will update your project and add additional dependencies (e.g. styles)
</div>
  <div id="section3">
    <h1>Section 3</h1>
ng add will use your package manager to download dependencies for ngx-bootstrap and invoke an installation script
(implemented as a schematic) which will update your project and add additional dependencies (e.g. styles)
  </div>
  <div id="section4">
    <h1>Section 4</h1>
ng add will use your package manager to download dependencies for ngx-bootstrap and invoke an installation script
(implemented as a schematic) which will update your project and add additional dependencies (e.g. styles)
   </div>
</div>
<br /> -->


