.carousel-caption {
  bottom: 0 !important;
  top: 15rem !important;
}

.carousel_thumb {
  display: block;
  width: 100%;
  height: 90vh;
}

.carousel_text {
  font-size: 2rem;
  display: block;
}

.message{
   margin-top: 46rem;
}

@media (max-width: 767px) {
  .carousel_thumb {
    display: block;
    width: 100%;
    height: 40vh;
  }

  .carousel_text {
    font-size: 2rem;
    display: block;
  }

  .carousel-caption {
    bottom: 1rem !important;
    top: 15rem !important;
  }
  .message {
    margin-top: 16rem;
  }
}