<carousel>
  <slide>
    <img src="../../assets/images/ANN.jpg" alt="first slide" class="carousel_thumb">
    <div style=" background-color: rgba(0,22,47,.81);
    opacity: 1;
    transition: background .3s,border-radius .3s,opacity .3s;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        <button class="btn custom_button" (click)="scrollTo('section4')">Contact Us</button>
      </div>
    </div>

  </slide>
  <slide>
    <img src="../../assets/images/SAM01812.JPG" alt="first slide" class="carousel_thumb">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      <button class="btn custom_button" (click)="scrollTo('section4')">Contact Us</button>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/SAM01829.JPG" alt="second slide" class="carousel_thumb">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button class="btn custom_button" (click)="scrollTo('section4')">Contact Us</button>
    </div>
  </slide>
  <div id="section1" class="container mt-5" class="message">
    <div class="welcome_section pt-7 pb-5">
      <div class="row">
        <div class="col-md-5">
          <div class="about-thumb">
            <img src="../../assets/images/bvk.jpg" alt="" class="img-fluid">
            <!-- <span class="about-thumb-small">
              <img src="../../../assets/images/thumb-5.jpg" alt="" class="img-fluid">
            </span> -->
          </div>
        </div>
        <div class="col-md-7">
          <h5 class="sub_title title-wrapper">Wedding Day special</h5>
          <!-- <h3 class="primary_color_text">We are Taking Small Steps to Make Earth Better Planet</h3> -->
          <p>
              Yes!!!
              This is the day that lord has made.
              Today is the day that the lord United me and my beloved wife. He has established his peace in us. We feel
              so glad and hounerd for being guarded and protected by the lord for the past 22years and for entering into
              a new year of our married life!

              - Dr. B. V. Kumar
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- <slide>
    <img src="../../assets/images/zmain-slider-3.jpg" alt="third slide"
      style="display: block; width: 100%; height:90vh">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      <button class="btn custom_button" (click)="scrollTo('section4')">Contact Us</button>
    </div>
  </slide> -->
</carousel>
